.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.container-modal-user{
  background-color: rgb(255, 255, 255);
  padding: 20px 40px 50px 40px;
  min-width: 25%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;
}

.navCard{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-Adm{
  display: flex;
  justify-content: space-between;
}

.submit{
  width: 50%;
}
h3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 3px  rgb(149, 147, 147);
  padding: 10px 10px;
}

.inputAdm{
  all: unset;
  border-bottom: 2px solid rgb(108, 105, 105);
  border-right: 2px solid rgb(103, 102, 102);
  box-shadow: 2px 2px 3px  rgb(149, 147, 147);
  padding: 10px;
}

.buton0{
  padding: 3px 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 10px  rgb(50, 50, 50);

}

.inputAdmName{
  all: unset;
  border-bottom: 2px solid rgb(108, 105, 105);
  border-right: 2px solid rgb(103, 102, 102);
  box-shadow: 2px 2px 3px  rgb(149, 147, 147);
  padding: 10px;
}

@media only screen and (max-width: 577px) {
  .container-modal-user{
    min-width: 20%;
    max-width: 67%;
    min-height: 400px;
  }

  .inputAdmName{
    all: unset;
    border-bottom: 2px solid rgb(108, 105, 105);
    border-right: 2px solid rgb(103, 102, 102);
    box-shadow: 2px 2px 3px  rgb(149, 147, 147);
    padding: 10px;
  }

}

@media (min-width: 578px) and (max-width: 769px) {
  .container-modal-user{
    min-width: 20%;
    max-width: 67%;
    min-height: 400px;
  }

  .inputAdmName{
    all: unset;
    border-bottom: 2px solid rgb(108, 105, 105);
    border-right: 2px solid rgb(103, 102, 102);
    box-shadow: 2px 2px 3px  rgb(149, 147, 147);
    padding: 10px;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .container-modal-user{
    min-width: 20%;
    max-width: 67%;
    min-height: 400px;
  }

  .inputAdmName{
    all: unset;
    border-bottom: 2px solid rgb(108, 105, 105);
    border-right: 2px solid rgb(103, 102, 102);
    box-shadow: 2px 2px 3px  rgb(149, 147, 147);
    padding: 10px;
  }
  
}